.card{
  display: flex;
}
.cardImg{
  width: 40%;
  border-radius: 5px;
  height: inherit;
}
h2{
  color: rgb(25 118 210);
}
.link{
  text-decoration: none;
  color: rgb(25 118 210);
}
.link:hover{
  color: rgb(21, 91, 161);
}